<div id="landing">
  <div id="account-widget">
    <img id="account-gravatar" src="/images/stormtrooper.jpg" />
    <h1>Welcome, add your account to get started...</h1>
    <h2>Enter your credentials below</h2>
    <form name="accountForm">
      <input type="text" placeholder="Full Name" name="name" required="required" />
      <input type="email" placeholder="Email" name="email" required="required" />
      <input type="password" placeholder="Password" name="password" required="required" />
      <button id="addAccountButton">ADD ACCOUNT</button>
    </form>
  </div>
</div>
