<nav id="sidebar">
  <button id="compose-button">COMPOSE</button>
  <ul>
    <li>Inbox <span>2</span></li>
    <li class="active">Sent</li>
    <li>Flagged <span>7</span></li>
    <li>Drafts</li>
    <li>Trash</li>
  </ul>
  <div id="avatar-area">
    <img src="https://s.gravatar.com/avatar/{{hash}}?s=48" />
    <span id="add-new-account">&#8964;</span>
  </div>
</nav>

