#sidebar
  #compose-button
    margin                  40px 20px
    width                   160px

  li
    line-height             50px
    color                   #647175
    padding-left            20px
    font-size               14px
    font-weight             bold
    cursor                  pointer

  li span
    width                   20px
    height                  20px
    border                  2px solid #647175
    border-radius           20px
    display                 inline-block
    line-height             20px
    text-align              center
    font-size               11px
    color                   #647175
    position                absolute
    right                   20px
    top                     13px

  li.active
    color                   #647175
    background              #FFF


  #avatar-area
    border-top              1px solid #2A3537
    width                   100%
    position                absolute
    bottom                  0
    padding                 30px 65px
    box-sizing              border-box

    img
      // styleAvatar()
      width                 40px
      height                40px
      border-radius         40px

    #add-new-account
      color                 #647175
      border                2px solid #647175
      font-weight           bold
      font-size             22px
      width                 16px
      height                16px
      border-radius         20px
      line-height           10px
      display               inline-block
      text-align            center
      text-indent           -1px
      cursor                pointer
      position              absolute
      top                   42px
      left                  113px
